@model BT2MWG.ViewModel.AdminPageViewModel;

<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h2>Login Page</h2>
    <br>
    <div class="login">
        <label>
            <b>
                User Name
            </b>
        </label>
        <input asp-for="username" type="text" name="Uname" id="username" placeholder="Username">
        <br><br>
        <label>
            <b>
                Password
            </b>
        </label>
        <input asp-for="password" type="Password" name="Pass" id="password" placeholder="Password">
        <br><br>
        <input type="button" name="log" id="log" value="Log In Here">
        @*@Html.ActionLink("Log In Here", "DangNhap","Admin",new{ username = , password = })*@
        <br><br>
        <br><br>
    </div>

    <script>
        $(document).ready(function() {
            $("#log").click(function(event) {
                event.preventDefault();
                window.location.href = "@Url.Action("DangNhap", "Admin")" + "?username=" + $("#username").val()+"&password="+ $("#password").val();
            });
        })
        //$("#log").click(function(e) {
        //    $.ajax({
        //        type: "POST",
        //        url: "/Admin/Index/",
        //        data: {
        //            username: $("#Uname").val(),
        //            password: $("#Pass").val()
        //        },
        //        success: function(result) {
        //            debugger;
        //            var a = result;
        //            //window.localStorage.setItem("username", $("#Uname").val());
        //            //window.location.href = "admin/admin";

        //        },
        //        error: function(result) {
        //            console.log('error');
        //        }
        //    });
        //});
    </script>
    @{
        if (TempData["msg"] != null)
        {
            <script>
                alert('@TempData["msg"]')
            </script>
        }
    }
</body>
</html>