@using System.Globalization
@using TTTN.Models
@model TTTN.Models.SUA;
@*
*@
@{
    var dbo = new db();
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
    var gia = Model.ThayDoiGia.Gia;

    var listHinhAnh = Model.DSHINHANH;

    int ptgiamgia = 0;

    decimal giaSauGiam = 0;

    if (Model.KHUYENMAI != null)
    {
        ptgiamgia = Model.KHUYENMAI.CTKM.PTGiamGia;
        giaSauGiam = gia - (gia * ptgiamgia) / 100;
    }
    else
    {

        var km = dbo.layKM(@Model.MaSua);
        if (km.CTKM != null)
        {
            ptgiamgia = km.CTKM.PTGiamGia;
        }

        giaSauGiam = gia - (gia * ptgiamgia) / 100;
    }


    string giaOld = gia.ToString("#,###", cul.NumberFormat);
    string giaNew = giaSauGiam.ToString("#,###", cul.NumberFormat);

}

<div class="detail-body-column-2-product-name">
    <div class="title">
        <h3>@Model.TenSua</h3>
        <span class="product-id">#@Model.MaSua</span>
    </div>

    @if (@ptgiamgia > 0)
    {
        <div class="price-section">
            <span class="current-price">@giaNew₫</span>
            <span class="old-price">@giaOld₫</span>
            <span class="discount">@ptgiamgia%</span>
        </div>
    }
    else
    {
        <div class="price-section">
            <span class="current-price">@giaOld₫</span>
        </div>
    }


    @* <div class="discount-detail">
    <p>Khuyến mãi</p>
    <ul class="promotion-list">
    @foreach (var item in @Model[j].Promotion)
    {
    <li>@item</li>
    }
    </ul>
    </div>*@
    <div class="button-section">
        <button class="button button-buy">MUA NGAY</button>
        <button class="button button-see">THÊM VÀO GIỎ HÀNG</button>
    </div>

    @*Thông tin đổi trả*@
    @await Html.PartialAsync("_Policy")

    @*Thông tin chi tiết của sản phẩm*@
    @*@await Component.InvokeAsync("ProductDetailBox")*@


</div>
