@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<sectio class="policy-section">
    <ul class="policy">
        <li class="doitra ">
            <div class="iconl">
                <i class="material-symbols-outlined">published_with_changes</i>
            </div>

            <p>Không áp dụng đổi trả, bảo hành (Không bao gồm xe đồ chơi điều khiển) <a href="/bao-hanh-doi-tra">Xem chi tiết</a></p>
        </li>
        <li class=" ">
            <div class="iconl">
                <i class="material-symbols-outlined">local_shipping</i>
            </div>
            <p>Miễn phí giao hàng đơn từ 500.000đ trong 10km đầu tiên</p>
        </li>
        <li class=" ">
            <div class="material-symbols-outlined">
                <i class="material-symbols-outlined">all_inbox</i>
            </div>
            <p>Giao hàng thu tiền, thanh toán online nhiều phương thức</p>
        </li>
        <li class=" ">
            <div class="material-symbols-outlined">
                <i class="material-symbols-outlined">headset_mic</i>
            </div>
            <p>Tổng đài: <a href="tel:1900866874">1900.866.874</a><br>(7h30 - 22h00)</p>
        </li>
    </ul>
</sectio>
