@using System.Globalization
@model List<BT2MWG.Models.HINHANH>;

@{
    
    String i = (String)Url.ActionContext.RouteData.Values["id"];
    int j = Int32.Parse(i);
}

<div id="sync1" class="owl-carousel owl-theme">
    @foreach (var item in Model)
    {
        <div class="item">
            <img src="@item.HinhAnh" alt="" />
        </div>
    }
</div>
<div id="sync2" class="owl-carousel owl-theme">

    @foreach (var item in Model)
    {
        <div class="slider-thumb item">
            <img src="@item.HinhAnh" alt="Forest" style="width: 80px;height: 80px">
        </div>
    }
</div>