@model List<TTTN.Models.DOCHOI>;

<div class="others-toy" id="toy-grid">
    @foreach(var item in Model)
    {
        @await Html.PartialAsync("~/Views/Shared/Partial/ToyBoxesHomePage.cshtml", item)
    }   
</div>