@model TTTN.Models.SUA;
@using TTTN.Helpers;
@using TTTN.Models;
@using System.Globalization

@{
    db dbo = new db();
    var a = Model;
    var listHinhAnh = Model.DSHINHANH;
    decimal gia = Model.ThayDoiGia.Gia;
    int ptgiamgia = 0;
    decimal giaSauGiam = 0;

    try
    {
        if (Model.KHUYENMAI != null)
        {
            ptgiamgia = Model.KHUYENMAI.CTKM.PTGiamGia;
            giaSauGiam = gia - (gia * ptgiamgia) / 100;
        }
    }
    catch (Exception e)
    {

    }

    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
    string giaOld = gia.ToString("#,###", cul.NumberFormat);
    string giaNew = giaSauGiam.ToString("#,###", cul.NumberFormat);
}

@*<script src="~/public/js/cart/cart.js"></script>*@

<style>
    .expire {
        font-size: 8px !important;
        position: relative;
        left: 7px;
        border: 1px solid #ccc;
        width: fit-content;
        padding: 1px !important;
    }
</style>

<div class="others-toy-item">
    <a href="/product/detail/@Model.MaSua"> 
    @if (listHinhAnh.Count > 0)
    {
        <img src="@listHinhAnh[0].HinhAnh.ToString()" alt="" />
    }
    <h3>
        @*Đồ chơi xe địa hình cứu hộ Lego City 60301*@
        @Model.TenSua
    </h3>
        @if(Model.loHang.hsdconlai > 0)
        {
            <p class="expire">
                @Model.ExpireQuantity()
            </p>
        }
        
    @if (@ptgiamgia > 0)
    {
        <p class="others-toy-item-price">
            @*giá sau khi gảm*@
            @giaNew₫
        </p>
        <span class="others-toy-item-old-price">
            @*giá cũ*@
            @giaOld₫
        </span>

        <span class="others-toy-item-percent">
            @ptgiamgia %
        </span>
    }
    else
    {
        <p class="others-toy-item-price">
            @*giá sau không gảm*@
            @giaOld₫
        </p>
    }
    </a>
    <div class="others-toy-item-buy">
        <p class="txt" data-id="@Model.MaSua">Chọn mua</p>
    </div>
</div>



