@model TTTN.Models.DOCHOI;
@using TTTN.Models;
@using System.Globalization

@{
    db dbo = new db();
    var a = Model;
    var listHinhAnh = dbo.layTatCaAnhTheoDoChoi(@Model.MaDoChoi);
    decimal gia = Model.ThayDoiGia.Gia;
    int ptgiamgia = 0;
    decimal giaSauGiam = 0;
   
    try
    {
        if (Model.KHUYENMAI != null)
        {
            ptgiamgia = Model.KHUYENMAI.CTKM.PTGiamGia;
            giaSauGiam = gia - (gia * ptgiamgia) / 100;
        }
    }
    catch (Exception e)
    {

    }

    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
    string giaOld = gia.ToString("#,###", cul.NumberFormat);
    string giaNew = giaSauGiam.ToString("#,###", cul.NumberFormat);
}

@*<script src="~/public/js/cart/cart.js"></script>*@

<div class="others-toy-item">
    <a href="/product/detail/@Model.MaDoChoi"> 
    @if (listHinhAnh.Count > 0)
    {
        <img src="@listHinhAnh[0].HinhAnh.ToString()" alt="" />
    }
    <h3>
        @*Đồ chơi xe địa hình cứu hộ Lego City 60301*@
        @Model.TenDoChoi
    </h3>
    @if (@ptgiamgia > 0)
    {
        <p class="others-toy-item-price">
            @*giá sau khi gảm*@
            @giaNew₫
        </p>
        <span class="others-toy-item-old-price">
            @*giá cũ*@
            @giaOld₫
        </span>

        <span class="others-toy-item-percent">
            @ptgiamgia %
        </span>
    }
    else
    {
        <p class="others-toy-item-price">
            @*giá sau không gảm*@
            @giaOld₫
        </p>
    }
    </a>
    <div class="others-toy-item-buy">
        <p class="txt" data-id="@Model.MaDoChoi">Chọn mua</p>
    </div>
</div>



