.bg-promo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #333333;
    opacity: 0.8;
    height: 100vh;
    z-index: 999;
}

.bluekids .alert-promo {
    border-radius: 12px;
    text-align: center;
}

.alert-promo {
    position: fixed;
    width: 800px;
    background-color: #fff;
    border-radius: 4px;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-popup {
    position: absolute;
    top: 6px;
    right: 20px;
    cursor: pointer;
}

    .close-popup i:before, .close-popup i:after {
        content: "";
        width: 3px;
        height: 24px;
        background-color: #747474;
        border-radius: 10px;
        transform: rotate(45deg);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .close-popup i:before {
        transform: rotate(-45deg);
    }



    .close-popup i {
        display: block;
        position: relative;
    }

.bluekids .alert-promo p {
    font-weight: 600;
    color: black;
    margin-top: 16px;
    margin-bottom: 10px;
    color: gray;
}

.alert-promo p {
    display: block;
    overflow: hidden;
    text-align: center;
    color: #333333;
    padding: 0 30px;
}

.bluekids .alert-promo span {
    color: black;
    font-weight: bolder;
}

.alert-promo span {
    display: block;
    overflow: hidden;
    font-size: 16px;
    color: #646464;
    text-align: center;
    padding: 24px 0 10px;
}

.bluekids .alert-promo a:not(.morepolicy) {
    background: #ed1164;
    border-radius: 4px;
    font-size: 15px;
}

.alert-promo a:not(.morepolicy) {
    display: block;
    overflow: hidden;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    background: linear-gradient(180deg, #f79429 0%, #f7712e 100%);
    border-radius: 4px;
    width: 230px;
    margin: 30px 56px 30px;
}

.resize-triggers {
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0;
}

    .resize-triggers, .resize-triggers > div, .contract-trigger:before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

.hide {
    display: none;
}

.imgctgh{
    width:85px;
    height:auto;
}

#content{
    padding:20px;
}