@using System.Globalization
@model TTTN.Models.DOCHOI;

@{
    var b = Model;
    Layout = "~/Views/Shared/_Footer.cshtml";

}
<script src="~/public/js/productController.js"></script>

<div class="detail-body">
    <div class="detail-body-column">
        @*@await Html.PartialAsync("_Slider")*@

        @*@await Html.PartialAsync("_Info")*@
    </div>
    <div class="detail-body-column">
        @*@await Html.PartialAsync("_DetailBody")*@
    </div>

</div>

@*Mục đồ chơi khác*@
<p class="others-toy-section">Đồ chơi khác</p>
@*@await Html.PartialAsync("_OthersToy")*@