@using System.Globalization
@model List<BT2MWG.Models.Product>;
@*
*@
@{
    
    String i = (String)Url.ActionContext.RouteData.Values["id"];
    int j = Int32.Parse(i);

    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   
    string af = Model[j].Price.ToString("#,###", cul.NumberFormat);

    decimal priceNew = Model[j].Price - (Model[j].Price * Model[j].Discount) / 100;

    string aff = priceNew.ToString("#,###", cul.NumberFormat);
    //Footer & Header
    Layout = "~/Views/Shared/_Footer.cshtml";

}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model[j].Name</title>
</head>
<body>

    <div class="detail-body">
        <div class="detail-body-column">
            @await Html.PartialAsync("_Slider")

            @await Html.PartialAsync("_Info")
        </div>
        <div class="detail-body-column">
            @await Html.PartialAsync("_DetailBody")
        </div>

    </div>

    @*Mục đồ chơi khác*@
    <p class="others-toy-section">Đồ chơi khác</p>
    @await Html.PartialAsync("_OthersToy")


</body>
</html>