@using TTTN.Models
@using TTTN.ViewModel;
@using System.Globalization
@using Microsoft.AspNetCore.Http
@model SearchViewModel;
@{
    Layout = "~/Views/Shared/_Footer.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<link href="~/public/css/search/search.css" rel="stylesheet">

<script type="text/javascript">
    document.isClickPaging = false;
    var query = {
        PageSize: 1,
        PageIndex: 0,
    };
</script>

<div id="app" class="bluekids">
    <section>

        <div class="boxtop">
            <p class="txt01">169 sản phẩm Sữa bột cho bé </p>
        </div>

        <div class="box-filter">
            <div class="warpper-filfer">

                <!-- #region Bộ filter ngoài -->
                <!-- Filter Sản phẩm-->
                <!-- Filter Property -->
                @*hãng*@
                @await Html.PartialAsync("~/Views/Common/Partial/ListHang.cshtml", Model.hangDoChoi)

                @*Nơi sản xuất*@
                @await Html.PartialAsync("~/Views/Common/Partial/ListXuatXu.cshtml", Model.hangDoChoi)

                @*mức giá
                <div class="filter-item">
                    <div class="filter-item__title jsTitle price-title"><span data-item="Giá">Giá</span></div>
                    <div class="filter-show">
                        <div class="price-slider text-active" data-activetxt="">
                            <p class="range-toggle" style="display: none;">
                                <a href="javascript:;" onclick="loadPriceRangeSlider(this)">
                                    <i class="iconcate-range"></i>
                                    <span class="down">Hoặc chọn mức giá phù hợp với bạn</span>
                                </a>
                            </p>
                            <div class="container">
                                <div class="row-input">
                                    <form class="range-price">
                                        <span class="range-left">
                                            <input type="tel" maxlength="8" name="price-min-value" data-minvalue="100000" value="100">
                                            <label class="place-holder">.000đ</label>
                                        </span>
                                        <span class="range-right">
                                            <input type="tel" maxlength="8" name="price-max-value" data-maxvalue="1400000" value="1400">
                                            <label class="place-holder">.000đ</label>
                                        </span>
                                    </form>
                                </div>
                                <div id="slider-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background"><div class="noUi-base"><div class="noUi-origin noUi-connect" style="left: 0%;"><div class="noUi-handle noUi-handle-lower"></div></div><div class="noUi-origin noUi-background" style="left: 100%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>
                            </div>
                        </div>
                        <div class="filter-button">
                            <a href="javascript:void(0)" class="btn-filter-close">Bỏ chọn</a>
                            <a href="javascript:void(0)" class="btn-filter-readmore ">Xem </a>
                        </div>
                    </div>
                </div>

                độ tuổi
                <div class="filter-item " data-hiddenbyone="False">
                    <div class="filter-item__title jsTitle"><span data-item="Độ tuổi">Độ tuổi</span></div>
                    <div class="filter-show" data-groupid="">
                        <div class="filter-list props outsight" data-propid="31721" data-sight="1">

                            <a href="sua-bot-cho-be-duoi-6-thang" data-href="duoi-6-thang" class="c-btnbox has-icon  " data-smooth="0" data-id="219251" data-name="Dưới 6 tháng" data-type="3">
                                <img alt="Dưới 6 tháng" src="https://cdn.tgdd.vn/ValueIcons/17/be-0-6-thang-tuoi-2.png">
                                Dưới 6 tháng
                            </a>
                            <a href="sua-bot-cho-be-6-12-thang" data-href="6-12-thang" class="c-btnbox has-icon  " data-smooth="0" data-id="219252" data-name="6 - 12 tháng" data-type="3">
                                <img alt="6 - 12 tháng" src="https://cdn.tgdd.vn/ValueIcons/17/be-6-12-thang-tuoi-1.png">
                                6 - 12 tháng
                            </a>
                            <a href="sua-bot-cho-be-1-2-tuoi" data-href="1-2-tuoi" class="c-btnbox has-icon  " data-smooth="1" data-id="219253" data-name="1 - 2 tuổi" data-type="3">
                                <img alt="1 - 2 tuổi" src="https://cdn.tgdd.vn/ValueIcons/17/be-1-3-tuoi.png">
                                1 - 2 tuổi
                            </a>
                            <a href="sua-bot-cho-be-2-6-tuoi" data-href="2-6-tuoi" class="c-btnbox has-icon  " data-smooth="1" data-id="219254" data-name="2 - 6 tuổi" data-type="3">
                                <img alt="2 - 6 tuổi" src="https://cdn.tgdd.vn/ValueIcons/17/be-3-6-tuoi-1.png">
                                2 - 6 tuổi
                            </a>
                            <a href="sua-bot-cho-be-tren-6-tuoi" data-href="tren-6-tuoi" class="c-btnbox has-icon  " data-smooth="0" data-id="219255" data-name="Trên 6 tuổi" data-type="3">
                                <img alt="Trên 6 tuổi" src="https://cdn.tgdd.vn/ValueIcons/17/be-tren-6-tuoi.png">
                                Trên 6 tuổi
                            </a>

                        </div>


                        <div class="filter-button filter-button-sticky">
                            <a href="javascript:void(0)" class="btn-filter-close">Chọn lại</a>
                            <a href="javascript:void(0)" class="btn-filter-readmore ">Xem </a>
                        </div>
                    </div>
                </div>

                khối lượng
                <div class="filter-item " data-hiddenbyone="False">
                    <div class="filter-item__title jsTitle"><span data-item="Khối lượng">Khối lượng</span></div>
                    <div class="filter-show filter-show--right" data-groupid="">
                        <div class="filter-list props outsight" data-propid="31218" data-sight="1">

                            <a href="sua-bot-cho-be-duoi-500g" data-href="duoi-500g" class="c-btnbox   " data-smooth="1" data-id="214710" data-name="Dưới 500g" data-type="3">
                                Dưới 500g
                            </a>
                            <a href="sua-bot-cho-be-tu-500g-den-900g" data-href="tu-500g-den-900g" class="c-btnbox   " data-smooth="1" data-id="214711" data-name="Từ 500g đến 900g" data-type="3">
                                Từ 500g đến 900g
                            </a>
                            <a href="sua-bot-cho-be-tu-950g-tro-len" data-href="tu-950g-tro-len" class="c-btnbox   " data-smooth="1" data-id="214712" data-name="Từ 900g trở lên" data-type="3">
                                Từ 900g trở lên
                            </a>

                        </div>


                        <div class="filter-button filter-button-sticky">
                            <a href="javascript:void(0)" class="btn-filter-close">Chọn lại</a>
                            <a href="javascript:void(0)" class="btn-filter-readmore ">Xem </a>
                        </div>
                    </div>
                </div>*@

                <!-- #endregion Bộ filter ngoài -->
                <section>

                    <div class="listproduct">
                    </div>
                </section>

            </div>
        </div>
    </section>
</div>
<script src="~/public/js/search/search.js"></script>




