@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Footer.cshtml";
}
<link rel="stylesheet" href="~/public/css/Homepage/cate.css">

<section>
    <div class="center">
        <p class="txt02 fInter">Kết quả “<b>sữa bột ensure</b>”</p>
        <div class="others-toy" id="toy-grid">
            <div class="others-toy-item">
                <a href="/product/detail/1">
                    <img src="https://cdn.tgdd.vn/Products/Images/9079/264253/sua-bot-famna-so-4-850g-1.jpg" />
                    <h3>
                        Ðồ chơi trạm cảnh sát tuần tra và biển Lego City 60308 (297 chi tiết)
                    </h3>
                    <p class="others-toy-item-price">
                        37.500₫
                    </p>
                    <span class="others-toy-item-old-price">
                        50.000₫
                    </span>
                    <span class="others-toy-item-percent">
                        25 %
                    </span>
                </a>
                <div class="others-toy-item-buy">
                    <p class="txt" data-id="1">Chọn mua</p>
                </div>
            </div>
            <div class="others-toy-item">
                <a href="/product/detail/2">
                    <img src="https://cdn.tgdd.vn/Products/Images/9079/264253/sua-bot-famna-so-4-850g-1.jpg" />
                    <h3>
                        Đồ chơi lắp ráp xe địa hình cứu hộ Lego City 60301 (157 chi tiết)
                    </h3>
                    <p class="others-toy-item-price">
                        59.500₫
                    </p>
                    <span class="others-toy-item-old-price">
                        85.000₫
                    </span>
                    <span class="others-toy-item-percent">
                        30 %
                    </span>
                </a>
                <div class="others-toy-item-buy">
                    <p class="txt" data-id="2">Chọn mua</p>
                </div>
            </div>
            <div class="others-toy-item">
                <a href="/product/detail/16">
                    <img src="https://cdn.tgdd.vn/Products/Images/9079/264253/sua-bot-famna-so-4-850g-1.jpg" />
                    <h3>
                        Bộ đồ chơi bàn học kèm xếp khối VBCare VBC-916
                    </h3>
                    <p class="others-toy-item-price">
                        302.500₫
                    </p>
                    <span class="others-toy-item-old-price">
                        550.000₫
                    </span>
                    <span class="others-toy-item-percent">
                        45 %
                    </span>
                </a>
                <div class="others-toy-item-buy">
                    <p class="txt" data-id="16">Chọn mua</p>
                </div>
            </div>
            <div class="others-toy-item">
                <a href="/product/detail/16">
                    <img src="https://cdn.tgdd.vn/Products/Images/9079/264253/sua-bot-famna-so-4-850g-1.jpg" />
                    <h3>
                        Bộ đồ chơi bàn học kèm xếp khối VBCare VBC-916
                    </h3>
                    <p class="others-toy-item-price">
                        302.500₫
                    </p>
                    <span class="others-toy-item-old-price">
                        550.000₫
                    </span>
                    <span class="others-toy-item-percent">
                        45 %
                    </span>
                </a>
                <div class="others-toy-item-buy">
                    <p class="txt" data-id="16">Chọn mua</p>
                </div>
            </div>
            <div class="others-toy-item">
                <a href="/product/detail/16">
                    <img src="https://cdn.tgdd.vn/Products/Images/9079/264253/sua-bot-famna-so-4-850g-1.jpg" />
                    <h3>
                        Bộ đồ chơi bàn học kèm xếp khối VBCare VBC-916
                    </h3>
                    <p class="others-toy-item-price">
                        302.500₫
                    </p>
                    <span class="others-toy-item-old-price">
                        550.000₫
                    </span>
                    <span class="others-toy-item-percent">
                        45 %
                    </span>
                </a>
                <div class="others-toy-item-buy">
                    <p class="txt" data-id="16">Chọn mua</p>
                </div>
            </div>
            <div class="others-toy-item">
                <a href="/product/detail/16">
                    <img src="https://cdn.tgdd.vn/Products/Images/9079/264253/sua-bot-famna-so-4-850g-1.jpg" />
                    <h3>
                        Bộ đồ chơi bàn học kèm xếp khối VBCare VBC-916
                    </h3>
                    <p class="others-toy-item-price">
                        302.500₫
                    </p>
                    <span class="others-toy-item-old-price">
                        550.000₫
                    </span>
                    <span class="others-toy-item-percent">
                        45 %
                    </span>
                </a>
                <div class="others-toy-item-buy">
                    <p class="txt" data-id="16">Chọn mua</p>
                </div>
            </div>
            <div class="others-toy-item">
                <a href="/product/detail/16">
                    <img src="https://cdn.tgdd.vn/Products/Images/9079/264253/sua-bot-famna-so-4-850g-1.jpg" />
                    <h3>
                        Bộ đồ chơi bàn học kèm xếp khối VBCare VBC-916
                    </h3>
                    <p class="others-toy-item-price">
                        302.500₫
                    </p>
                    <span class="others-toy-item-old-price">
                        550.000₫
                    </span>
                    <span class="others-toy-item-percent">
                        45 %
                    </span>
                </a>
                <div class="others-toy-item-buy">
                    <p class="txt" data-id="16">Chọn mua</p>
                </div>
            </div>
        </div>

    </div>
</section>

