@using TTTN.Models
@{
    db dbo = new db();
    var listDoChoi = dbo.layTatCaDoChoiV3();
}

<div class="add-km-item">
    <label>Tên đồ chơi KM: </label>
    <select class="toys">
        @foreach(var item in listDoChoi)
        {
            <option data-id="@item.MaDoChoi" value="@item.MaDoChoi">@item.TenDoChoi</option>
        }
    </select>
    <span>
        &emsp;
        <label>Phần trăm giảm giá: </label>
        <input class="ptgiamgia" placeholder="Nhập phẩn trăm giảm giá" />
    </span>
</div>