<tr>
                        <td><label>label</label></td>
                        <td><input class="quantity" type="number" value="" /></td>
                        <td><input class="manuday" type="date" value="" /></td>
                        <td><input class="expireday" type="date" value="" /></td>
                    </tr>