@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Footer.cshtml";
}@using System.Globalization
@model List<BT2MWG.Models.Product>;
<head>

    <link href="~/public/css/style.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
    <link href="~/public/css/toy.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
    <script src="~/public/js/toy.js"></script>
</head>
<section>
    <div class="box-filter">
        <div class="warpper-filfer">
            <div class="filter-item filter-total">
                <div class="filter-item__title jsTitle allfilter active">
                    <i class="icon-filter"></i>Lọc
                    <strong class="number hide" style="display: none;"></strong>
                </div>
            </div>
            <div class="filter-item" onclick="showFilteritem(this);">
                <div class="filter-item__title"><span>Thương hiệu</span></div>
                <div class="filter-show" id="show1">
                    <div class="filter-list filter-list--column manu outsight">
                        <a class="c-btnbox" data-brand="HOT WHEELS (Mỹ)">
                            @*<a href="/Product/Toy?searchedBrand=HOT%20WHEELS%20(M%E1%BB%B9)" class="c-btnbox filter-manu " data-brand="HOT WHEELS (Mỹ)">*@
                            <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120876/HOTWHEELS-200x120.png" width="67" height="33" alt="HOT WHEELS">
                        </a>
                        @*<a href="/Product/Toy?searchedBrand=Lego%20(%C4%90an%20M%E1%BA%A1ch)" class="c-btnbox filter-manu " data-brand="Lego (Đan Mạch)">*@
                        <a class="c-btnbox" data-brand="Lego (Đan Mạch)">
                            <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/124513/Lego-200x120.png" width="67" height="33" alt="Lego">
                        </a>
                    </div>
                    <div class="filter-button">
                        <a class="btn-filter-close">Bỏ chọn</a>
                        <a class="btn-filter-readmore ">Xem</a>
                    </div>
                </div>
            </div>

            <div class="filter-item" onclick="showFilteritem1(this);">
                <div class="filter-item__title"><span>Loại</span></div>
                <div class="filter-show">
                    <div class="filter-list props outsight">
                        <a class="c-btnbox" data-name="Đồ chơi vận động">Đồ chơi vận động</a>
                        <a class="c-btnbox" data-name="Đồ chơi nhà tắm">Đồ chơi nhà tắm</a>
                        <a class="c-btnbox" data-name="Đồ chơi nhập vai">Đồ chơi nhập vai</a>
                        <a class="c-btnbox" data-name="Đồ chơi bé trai">Đồ chơi bé trai</a>
                        <a class="c-btnbox" data-name="Đồ chơi điều khiển">Đồ chơi điều khiển</a>
                        <a class="c-btnbox" data-name="Đồ chơi lắp ráp" data-type="3">Đồ chơi lắp ráp</a>
                        <a class="c-btnbox" data-name="Đồ chơi sơ sinh" data-type="3">Đồ chơi sơ sinh</a>
                        <a class="c-btnbox" data-name="Đồ chơi bé gái" data-type="3">Đồ chơi bé gái</a>
                        <a class="c-btnbox" data-name="Đồ chơi học tập" data-type="3">Đồ chơi học tập</a>
                    </div>
                    <div class="filter-button">
                        <a class="btn-filter-close">Chọn lại</a>
                        <a class="btn-filter-readmore">Xem</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-quicklink">
        <div class="boxleft ">
            <p class="box-quicklink__txt">Phổ biến:</p>
            <a href="https://www.avakids.com/do-choi-lego" class="box-quicklink__item">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/124513/Lego-200x120.png" width="70" height="20" class="no-text">

            </a>
            <a href="https://www.avakids.com/do-choi-hot-wheels" class="box-quicklink__item">
                <img src="https://cdn.tgdd.vn/2021/11/Sports/Images/120876/HOTWHEELS-200x120.png" width="70" height="20" class="no-text">

            </a>

        </div>

        <!-- Sắp xếp -->
        <div class="sort-select">
            <p class="click-sort" onclick="showFilter(this);">Xếp theo: <span class="sort-show">Nổi bật</span></p>
            <div class="sort-select-main">
                <p class="sort" data-name="top"><i></i>Nổi bật</p>
                <p class="sort" data-name="trending"><i></i>Bán chạy</p>
                <p class="sort" data-name="discountAsc"><i></i>% Giảm nhiều</p>
                <p class="sort" data-name="priceDesc"><i></i>Giá cao đến thấp</p>
                <p class="sort" data-name="priceAsc"><i></i>Giá thấp đến cao</p>
            </div>
        </div>
    </div>

    <div>
        <div class="others-toy" id="toy-grid">
            @*@foreach (var item in @Model)
                {
                    @await Component.InvokeAsync("ToyBoxes", item.ProductID)
                }*@

            @for (int i = 0; i < 5; i++)
            {
                @await Component.InvokeAsync("ToyBoxes", 1)
                @await Component.InvokeAsync("ToyBoxes", 2)
                @await Component.InvokeAsync("ToyBoxes", 3)
                @await Component.InvokeAsync("ToyBoxes", 4)
            }

        </div>
    </div>
</section>



