@using TTTN.Models;
@using TTTN.ViewModel;
@model List<DoTuoi>
@{
    int count = 0;
    int width = 67;
    int height = 33;
}


<div class="filter-item " data-hiddenbyone="False">
    <div class="filter-item__title jsTitle"><span data-item="Độ tuổi">Độ tuổi</span></div>
    <div class="filter-show" data-groupid="">
        <div class="filter-list age outsight">
            @foreach (var item in Model)
            {
                count++;
                <a href="#" class="c-btnbox   " data-order="@count" data-smooth="0" data-id="@item.MaDoTuoi" data-type="3">
                    @item.stDoTuoi
                </a>
            }
        </div>
        <div class="filter-button filter-button-sticky">
            <a href="javascript:void(0)" class="btn-filter-close">Chọn lại</a>
            <a href="javascript:void(0)" class="btn-filter-readmore ">Xem </a>
        </div>
    </div>
</div>